<link rel="stylesheet" href="css/estilosInicioSesion.css">


<form action="/agregar_producto" method="POST"> {{!-- FORMULARIO --}}
<section class="form-register">
    <h1 class="text-center">Ingrese Producto</h1>
    {{!-- id_producto --}}
    <div class="form-group">
        <label class="col-sm-12 control-label" for="id_producto">id_producto</label>
        <div class="col-sm-12">
            <input class="controls" type="text" name="id_producto" id="id_producto" placeholder="id_producto">
        </div>
        <br>
    </div>
    {{!-- id_proveedor --}}
    <div class="form-group">
        <label class="col-sm-12 control-label" for="id_proveedor">id_proveedor</label>
        <div class="col-sm-12">
            <input class="controls" type="text" name="id_proveedor" id="id_proveedor" placeholder="id_proveedor">
        </div>
        <br>
    </div>
    {{!-- nombre --}}
    <div class="form-group">
        <label class="col-sm-12 control-label" for="nombre">nombre</label>
        <div class="col-sm-12">
            <input class="controls" type="text" name="nombre" id="nombre" placeholder="nombre">
        </div>
        <br>
    </div>
    {{!-- precio --}}
    <div class="form-group">
        <label class="col-sm-12 control-label" for="precio">precio</label>
        <div class="col-sm-12">
            <input class="controls" type="number" name="precio" id="precio" placeholder="precio">
        </div>
        <br>
    </div>
    {{!-- stock --}}
    <div class="form-group">
        <label class="col-sm-12 control-label" for="stock">stock</label>
        <div class="col-sm-12">
            <input class="controls" type="number" name="stock" id="stock" placeholder="stock">
        </div>
        <br>
    </div>
    {{!-- Guardar Producto --}}
    <div class="form-group">
        <button type="submit" class="botons">Guardar Producto</button>
        <br>
    </div>
</section>
</form>