<link rel="stylesheet" href="css/estilosHome.css">

<center>
    <h1>
        <a href="crear_pedidos">crear_pedidos</a>
        <a href="Consultar_p">ver_pedido</a>
        <br>
        <br>
        <br>
        <br>
        <a href="agregar_proveedor">agregar_proveedor</a>
        <a href="agregar_producto">agregar_producto</a>
        <a href="consultar_producto">consultar_producto</a>
        <a href="update_p">actualizar_producto</a>
        <br>
        <br>
        <a href="delete_doc_p">eliminar_producto</a>
        <br>
    </h1>
</center>