<link rel="stylesheet" href="css/estilos.css">

<body>
    <header>
        <section>
            <div class="contair"> {{!-- "contair col-sm-6" --}}
                <p>EMPRESA XYZ</p><!--TITULO DE LA PAGINA-->
                <a href="inicioSesion">INGRESAR</a>
                <a href="formulario">REGISTRARSE</a>
            </div>
        </section>
    </header>
</body>
